/node_modules
/Downloads

.DS_Store
queue.json
/queue.json
./queue.josn
queue.initializeProject.json
/queue.initializeProject.json
./queue.initializeProject.josn

failedDownloads.json
/failedDownloads.json
./failedDownloads.json

failedDownloads.initializeProject.json
/failedDownloads.initializeProject.json
./failedDownloads.initializeProject.json

/dist

.env