/node_modules
/Downloads

.DS_Store
queue.json
/queue.json
./queue.josn

queue.writeJsonFiles.json
/queue.writeJsonFiles.json
./queue.writeJsonFiles.josn
queue.initializeProject.json
/queue.initializeProject.json
./queue.initializeProject.josn

failedDownloads.json
/failedDownloads.json
./failedDownloads.json

failedDownloads.initializeProject.json
/failedDownloads.initializeProject.json
./failedDownloads.initializeProject.json
failedDownloads.writeJsonFiles.json
/failedDownloads.writeJsonFiles.json
./failedDownloads.writeJsonFiles.json

/dist

.env

/src/config.ts